.main__header {
  margin-bottom: 26px;
}

.main__table {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table__header>* {
  color: var(--txt_grey);
}

.clientsList {
  background-color: #fff;
}

.add__client {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12.5px 26.5px;
  color: var(--firm);
  background-color:  inherit;
  border: 1px solid var(--firm);
  margin: auto;
}

.add__client svg{
  margin-right: 10px;
}


