@import url("header.css");
@import url("main.css");
@import url("media.css");
@import url("modal.css");
@import url("/fonts/stylesheet.css");

:root {
  /* --gray: #33333333; */
  --grey: #C8C5D1;
  --light-gray: #F5F5F5;
  --firm: #9873FF;
  --txt_grey: #B0B0B0;
  --black:#333333;
  --red: #F06A4D;
  --orange:#E6B127;
  --green: #34C759;
}


* {
  box-sizing: border-box;
  border: none;
  outline: 1px pink solid;
}

body {
  background-color: var(--light-gray);
  font-family: 'OpenSans-Regular', sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1186px;
  margin-left: 90px;
  margin-right: 90px;

}

img {
  max-width: 100%;
}


button {
  border: none;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
}


